<!DOCTYPE html>
<!--
{% macro pagination(url, page) %}
    <ul class="uk-pagination">
        {% if page.has_previous %}
            <li><a href="{{ url }}{{ page.page_index - 1 }}"><i class="uk-icon-angle-double-left"></i></a></li>
        {% else %}
            <li class="uk-disabled"><span><i class="uk-icon-angle-double-left"></i></span></li>
        {% endif %}
            <li class="uk-active"><span>{{ page.page_index }}</span></li>
        {% if page.has_next %}
            <li><a href="{{ url }}{{ page.page_index + 1 }}"><i class="uk-icon-angle-double-right"></i></a></li>
        {% else %}
            <li class="uk-disabled"><span><i class="uk-icon-angle-double-right"></i></span></li>
        {% endif %}
    </ul>
{% endmacro %}
-->
<html>
<head>
    <meta charset="utf-8" />
    {% block meta %}<!-- block meta  -->{% endblock %}
    <title>{% block title %} ? {% endblock %} - MemoBlog</title>
    <link rel="stylesheet" href="/static/css/uikit.min.css">
    <link rel="stylesheet" href="/static/css/uikit.gradient.min.css">
    <link rel="stylesheet" href="/static/css/awesome.css" />
    <link rel="stylesheet" href="/static/css/search.min.css" />
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/sha1.min.js"></script>
    <script src="/static/js/uikit.min.js"></script>
    <script src="/static/js/sticky.min.js"></script>
    <script src="/static/js/vue.min.js"></script>
    <script src="/static/js/awesome.js"></script>
    <script src="/static/js/search/search.min.js"></script>
    <script src="/static/js/search/autocomplete.min.js"></script>
    <script>
function showmenu()
{
    $("nav").css("left","-50px");
}
function hidemenu()
{
    $("nav").css("left","-150px");
}

    </script>

     <style> 
    body
    {
    background-image:url(/static/img/background.jpg);
    }
    nav {
        position: fixed; bottom: 0px; width: 150px; top:-60px; left:-150px; color: #666; margin: 60px 0px 0px; padding: 20px 20px 15px; background: #red; background: rgba(61, 61, 61, 0.7);
    }
    </style>

    {% block beforehead %}<!-- before head  -->{% endblock %}

</head>
<body>
    <nav onmouseover="showmenu()" 
onmouseout="hidemenu()">
        <div class="uk-container ">
            <a style="color:lightyellow;" href="/blogs" class="uk-navbar-brand">MemoBlog</a>
            <ul class="uk-navbar-nav">
                <li data-url="manage"><a id="myblog" style="color:lightyellow;" href="/"><i class="uk-icon-home"></i> 首页</a></li>
                <li data-url="manage"><a style="color:lightyellow;" href="/audioplayer"><i class="uk-icon-music"></i> 音乐</a></li>
                <li data-url="manage"><a style="color:lightyellow;" href="/videoplayer"><i class="uk-icon-video-camera"></i> 视频</a></li>
                <li data-url="manage"><a style="color:lightyellow;" data-uk-offcanvas="{target:'#search-box'}"><i class="uk-icon-search"></i> 搜索</a></li>
                {% if __user__ %}
                    <li data-url="manage"><a style="color:lightyellow;" data-uk-offcanvas="{target:'#user-center'}"><i class="uk-icon-user"></i> 用户</a></li>
                    <li data-url="manage"><a style="color:lightyellow;" data-uk-offcanvas="{target:'#user-center'}">{{__user__.name}}</a></li>
                {% else %}
                    <li ><a style="color:lightyellow;" href="/signin"><i class="uk-icon-sign-in" ></i> 登陆</a></li>
                    <li><a style="color:lightyellow;" href="/register"><i class="uk-icon-edit"></i> 注册</a></li>
                {% endif %}
            </ul>

            <!--search   -->
            <div id="search-box" class="uk-offcanvas">
                                <div class="uk-offcanvas-bar uk-offcanvas-bar-flip">
                                    <form class="uk-search" data-uk-search="{source:'static/my-results.json'}">
                                        <input class="uk-search-field" type="search" placeholder="search...">
                                    </form>
                                </div>
                            </div>

            <!--personal center -->
            <div id="user-center" class="uk-offcanvas">
                <div class="uk-offcanvas-bar uk-offcanvas-bar-flip">
                    <ul class="uk-nav uk-nav-offcanvas" data-uk-nav>
                        <li><a href="/manage/"><i class="uk-icon-book"></i> 个人主页</a></li>
                        <li><a href="/signout"><i class="uk-icon-sign-out"></i> 登出</a></li>
                    </ul>   
                </div>
            </div>

        </div>
    </nav>

    <div class="uk-container uk-container-center">
        <br />
        <div class="uk-grid">
            <!-- content -->
            {% block content %}
            {% endblock %}
            <!-- // content -->
        </div>
    </div>

    <div class="uk-margin-large-top" style="background-color:#eee; border-top:0.5px solid #ccc;">
        <div class="uk-container uk-container-center uk-text-center">
            <div class="uk-panel uk-margin-top uk-margin-bottom">
                <p>Powered by <a href="http://10.141.3.56">MemoBlog</a>. Copyright &copy; 2015. </p>
                <p><a href="http://10.141.3.56" target="_blank">MemoBlog</a>. All rights reserved.</p>
                <a target="_blank" href="http://weibo.com/2338053955"><i class="uk-icon-button uk-icon-weibo"></i></a>
            </div>
        </div>
    </div>
</body>
</html>
