<!DOCTYPE html>
<!--
{% macro pagination(url, page) %}
    <ul class="uk-pagination">
        {% if page.has_previous %}
            <li><a href="{{ url }}{{ page.page_index - 1 }}"><i class="uk-icon-angle-double-left"></i></a></li>
        {% else %}
            <li class="uk-disabled"><span><i class="uk-icon-angle-double-left"></i></span></li>
        {% endif %}
            <li class="uk-active"><span>{{ page.page_index }}</span></li>
        {% if page.has_next %}
            <li><a href="{{ url }}{{ page.page_index + 1 }}"><i class="uk-icon-angle-double-right"></i></a></li>
        {% else %}
            <li class="uk-disabled"><span><i class="uk-icon-angle-double-right"></i></span></li>
        {% endif %}
    </ul>
{% endmacro %}
-->
<html lang="zh-cn" dir="ltr">

    <head>
        <meta charset="utf-8">
        {% block meta %}<!-- block meta  -->{% endblock %}
        <title>{% block title %} ? {% endblock %} - Daisuke</title>
        <link rel="stylesheet" href="/static/uikit/css/uikit.css">
        <link rel="stylesheet" href="/static/uikit/css/components/tooltip.css">
        <link rel="stylesheet" href="/static/uikit/css/components/search.min.css" />

        <link rel="stylesheet" href="/static/css/awesome.css" />
        <link type="text/css" rel="stylesheet" href="/static/css/easybook_style.css">
        
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/sha1.min.js"></script>
        <script src="/static/js/sticky.min.js"></script>
        <script src="/static/js/vue.min.js"></script>
        <script src="/static/js/awesome.js"></script>

        <script src="/static/uikit/js/uikit.min.js"></script>
        <script src="/static/uikit/js/components/tooltip.min.js" ></script>        
        <script src="/static/uikit/js/components/search.min.js" ></script>

        {% block beforehead %}<!-- before head  -->{% endblock %}

    </head>

    <body>
<div class=" uk-grid" style="min-height:100%;">
    <div class="o-leftbar uk-hidden-small">
        <ul class="o-menu"><!--可通过设置项设置hover背景色-->
            <li class="o-logo"><a href="/">D</a></li><!--可以设置背景色和文字-->
            <li data-uk-tooltip title="导航菜单"><a href="#o-nav" data-uk-offcanvas><i class="uk-icon-th"></i></a></li><!--呼出offcanvas作为主导航菜单-->
            <li data-uk-tooltip="{pos:'right'}" title="搜索"><a href="#o-search" data-uk-offcanvas><i class="uk-icon-search"></i></a></li><!--搜索-->
            
            <!--作为外链或页面专题链接,必须使用图标，最多8个-->
            <li data-uk-tooltip="{pos:'right'}" title="音乐"><a href="/audioplayer"><i class="uk-icon-music"></i></a></li>
            <li data-uk-tooltip="{pos:'right'}" title="视频"><a href="/videoplayer"><i class="uk-icon-video-camera"></i></a></li>
            <li data-uk-tooltip="{pos:'right'}" title="轻松一下"><a href="/ball_pool"><i class="uk-icon-gamepad"></i></a></li>
            <!--End 作为外链或页面专题链接-->
        </ul>
        <ul class="o-login"><!--登入登出按钮-->
        {% if __user__ %}
            <li data-uk-tooltip title="用户中心"><a href="#o-user-center" data-uk-offcanvas><i class="uk-icon-user"></i></a></li>
        {% else %}
            <li data-uk-tooltip="{pos:'right'}" title="登入"><a href="/signin"><i class="uk-icon-sign-in"></i></a></li>
            <li data-uk-tooltip="{pos:'right'}" title="注册"><a href="/register"><i class="uk-icon-edit"></i></a></li>
        </ul>
        {% endif %}
    </div>

        <div class="o-left uk-width-3-10 uk-hidden-small">
        <div class="o-leftwarp">
            <h1>Daisuke</h1>
            <h3>我们仰望著同一片天空，却看著不同的地方。</h3>
            <p>欢迎你：</p>
            {% if __user__ %}
            <p>{{__user__.name}}</p>
            {% else %}
            <p>加入Daisuke</p>
            {% endif %}
        </div>
    </div>

        <!-- content -->
            {% block content %}
            {% endblock %}
            <!-- // content -->
            <footer class="uk-text-muted uk-text-small">
                <!--子导航菜单-->
                <ul class="o-meta uk-subnav uk-subnav-line ">
                    <li><a href="#">帮助中心</a></li>
                    <li><a href="#">投稿指南</a></li>
                    <li><a href="#">关于我们</a></li>
                    <li><a href="#">网站统计</a></li>
                </ul>
                <p class="o-meta">&copy;2015 <a href="/">Daisuke</a> All rights reserved.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;联系作者
                <a target="_blank" href="http://weibo.com/2338053955"><i class="uk-icon-button uk-icon-weibo"></i></a></p>
            </footer>
    </div>
</div>  

 </div>           
<!--search   -->        
<div id="o-search" class="uk-offcanvas">
                                <div class="uk-offcanvas-bar">
                                    <form  class="uk-search" action="/search-result" method="get" target="_blank">
                                        <!--不保存缓存AUTOCOMPLETE="off" -->
                                        <input class="uk-search-field" type="search" AUTOCOMPLETE="off" name="search" placeholder="搜索... "/>
                                    </form>
                                </div>
                            </div>        
<div id="o-nav" class="uk-offcanvas">
    <div class="uk-offcanvas-bar">
        <ul class="uk-nav uk-nav-offcanvas uk-nav-parent-icon" data-uk-nav>
            <li><a href="/">首页</a></li>
            <li><a href="/mymanage/blogs">我的日记</a></li>
            <li><a href="/mymanage/comments">我的评论</a></li>
            <li class="uk-parent">
                <a href="#">娱乐</a>
                <ul class="uk-nav-sub">
                    <li><a href="/audioplayer">音乐</a></li>
                    <li><a href="/videoplayer">视频</a></li>
                    <li><a href="/ball_pool">游戏</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<!--personal center -->
            <div id="o-user-center" class="uk-offcanvas">
                <div class="uk-offcanvas-bar">
                    <ul class="uk-nav uk-nav-offcanvas uk-nav-parent-icon" data-uk-nav>
                        <li><a href="/manage/"><i class="uk-icon-book"></i> 个人主页</a></li>
                        <li><a href="/signout"><i class="uk-icon-sign-out"></i> 登出</a></li>
                    </ul>   
                </div>
            </div>

    </body>

</html>