<html>
<head>
  <title>Please Sign In</title>
<style>
div
{
width:100px;
height:100px;
background:yellow;
transition:width 2s;
}
/*begin test*/
div:hover
{
width:300px;

}
/*end*/
</style>
</head>
<body style="background-image:url({{back_url}})">
  {% if message %}
  <p style="color:red">{{ message }}</p>
  {% endif %}
  <form action="/signin" method="post">
    <legend>Please sign in:</legend>
    <p><input name="username" placeholder="Username" value="{{ username }}"></p>
    <p><input name="password" placeholder="Password" type="password"></p>
    <p><input name="code" onpaste="return false" style="ime-mode:disabled"></p>
	<br/>
	<img src={{code_url}} />
    <p><button type="submit">Sign In</button></p>
  </form>
  <div>'Saying:'</div>
</body>
</html>
