{% extends '__base__.html' %}
{% block title %}Search{% endblock %}
{% block beforehead %}
<script src="/static/js/audio.min.js"></script>
<script src="/static/uikit/js/core/modal.js"></script>
<script src="/static/uikit/js/components/lightbox.min.js"></script>
<script>
    $(function() { 
        // Setup the player to autoplay the next track
        var a = audiojs.createAll({
          trackEnded: function() {
            var next = $('ol li.playing').next();
            if (!next.length) next = $('ol li').first();
            next.addClass('playing').siblings().removeClass('playing');
            audio.load($('a', next).attr('data-src'));
            audio.play();
          }
        });
        // Load in the first track
        var audio = a[0];
            first = $('ol a').attr('data-src');
        $('ol li').first().addClass('playing');
        audio.load(first);
        // Load in a track on click
        $('ol li').click(function(e) {
          e.preventDefault();
          $(this).addClass('playing').siblings().removeClass('playing');
          audio.load($('a', this).attr('data-src'));
          audio.play();
        })
      });
    </script>
<!--
<script>
$(function() {
var $keyword = "{{key_word}}"
setHeightKeyWord('uk-article-title', $keyword, 'Red', true)
});

function setHeightKeyWord(id, keyword, color, bold) {
	if (keyword == "")
		return;
	var tempHTML = $("." + id).html();
	var htmlReg = new RegExp("\<.*?\>", "i");
	var arrA = new Array();
	for (var i = 0; true; i++) {
		var m = htmlReg.exec(tempHTML);
		if (m) {
			arrA[i] = m;
			}
		else {
			break;
			}
		tempHTML = tempHTML.replace(m, "[[[[" + i + "]]]]");
		}
	var replaceText
	if (bold)
		replaceText = "<b style='color:" + color + ";'>$1</b>";
	else
		replaceText = "<font style='color:" + color + ";'>$1</font>";
	var arrayWord = keyword.split(',');
	for (var w = 0; w < arrayWord.length; w++) {
		var r = new RegExp("(" + arrayWord[w].replace(/[(){}.+*?^$|\\\[\]]/g, "\\$&") + ")", "ig");
		tempHTML = tempHTML.replace(r, replaceText);
		}
	for (var i = 0; i < arrA.length; i++) {
		tempHTML = tempHTML.replace("[[[[" + i + "]]]]", arrA[i]);
		}
	$("." + id).html(tempHTML);
} 
</script>
-->
{% endblock %}
{% block content %}
	<div class="o-right uk-width-medium-7-10 ">
        <div class="o-container uk-width-medium-4-5">
            <!--768以下出现导航栏-->
            <nav class="o-medium-bar uk-navbar uk-visible-small">
                <a class="o-toggle uk-navbar-brand" href="#o-nav" data-uk-offcanvas><i class="uk-icon-bars"></i></a>
                <div class="uk-navbar-flip">
                    <div class="uk-navbar-content">
                        <form class="o-hidden-small uk-search" data-uk-search>
                            <input class="uk-search-field" type="search" placeholder="点此搜索">
                        </form>
                    </div>
                </div>
                
                <div class="uk-navbar-content uk-navbar-center uk-navbar-brand">Daisuke</div>
            </nav>
            <hr class="uk-visible-small" />


<!-- 导航栏 -->

   <div class="uk-margin uk-grid" data-uk-grid-margin>
                                <div class="uk-width-medium-1-2">

                                    <ul class="uk-tab" data-uk-tab="{connect:'#tab-content'}">
                                        <li class="uk-active"><a href="#" style="font-size: 16pt;">博客</a></li>
                                        <li><a href="#" style="font-size: 16pt;">音乐</a></li>
                                        <li><a href="#" style="font-size: 16pt;">视频</a></li>
                                    </ul>

                                </div>
                            </div>


                            <div>
                                <ul id="tab-content" class="uk-switcher uk-margin">
                                        <!--博客 -->
                                    <li class="uk-active">  
                                        {% for blog in blogs %}
                                        <article class="uk-article">
                                            <h1 class="uk-article-title"><a target="_blank" href="/blog/{{ blog.id }}">{{ blog.name }}</a></h1>
                                            <p>{{ blog.summary }}</p>
                                            <p class="o-meta uk-article-meta">
                                                {{blog.user_name}}<i class="o-icon uk-icon-calendar-o"></i>
                                                发表于{{ blog.created_at|datetime }}
                                            <i class="o-icon uk-icon-book"></i>
                                            </p>
                                            <hr class="uk-article-divider">
                                        </article>
                                        {% endfor %}
                                    </li>
                                        
                                        <!--音乐 -->
                                    <li>
                                        <audio></audio>
                                        <ol>
                                            {% for audio in audios %}
                                            <li><a href="#" data-src="{{audio.src}}" class="audioplaysrc">{{audio.name}}</a></li>
                                            {% endfor %}
                                        </ol>
                                    </li>
                                        
                                        <!--视频 -->
                                    <li>
                                        <ol>
                                        {% for video in videos %}
                                        <li><a href="{{video.src}}" data-uk-lightbox title="{{video.name}}">{{video.name}}</a></li>
                                        {% endfor %}
                                        </ol>
                                    </li>
                                </ul>
                                </div>

{% endblock %}