<!DOCTYPE html>
<html lang="zh-cn" dir="ltr">
    <head>
    <meta charset="utf-8">
    <title>图片- Daisuke</title>
    <link rel="stylesheet" href="/static/uikit/css/uikit.css">
        <link rel="stylesheet" href="/static/uikit/css/components/tooltip.css">
        <link rel="stylesheet" href="/static/uikit/css/components/search.min.css" />

        <link rel="stylesheet" href="/static/css/awesome.css" />
        <link type="text/css" rel="stylesheet" href="/static/css/easybook_style.css">
        
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/sha1.min.js"></script>
        <script src="/static/js/sticky.min.js"></script>
        <script src="/static/js/vue.min.js"></script>
        <script src="/static/js/awesome.js"></script>

        <script src="/static/uikit/js/uikit.min.js"></script>
        <script src="/static/uikit/js/components/tooltip.min.js" ></script>        
        <script src="/static/uikit/js/components/search.min.js" ></script>
<script src="/static/uikit/js/core/modal.js"></script>
<script src="/static/uikit/js/components/lightbox.min.js"></script>
    </head>
<body>
    <div class=" uk-grid" style="min-height:100%;">
    <div class="o-leftbar uk-hidden-small">
        <ul class="o-menu"><!--可通过设置项设置hover背景色-->
            <li class="o-logo"><a href="/">D</a></li><!--可以设置背景色和文字-->
            <li data-uk-tooltip title="导航菜单"><a href="#o-nav" data-uk-offcanvas><i class="uk-icon-th"></i></a></li><!--呼出offcanvas作为主导航菜单-->
            <li data-uk-tooltip="{pos:'right'}" title="搜索"><a href="#o-search" data-uk-offcanvas><i class="uk-icon-search"></i></a></li><!--搜索-->
            
            <!--作为外链或页面专题链接,必须使用图标，最多8个-->
            <li data-uk-tooltip="{pos:'right'}" title="音乐"><a href="/audioplayer"><i class="uk-icon-music"></i></a></li>
            <li data-uk-tooltip="{pos:'right'}" title="视频"><a href="/videoplayer"><i class="uk-icon-video-camera"></i></a></li>
            <li data-uk-tooltip="{pos:'right'}" title="轻松一下"><a href="/ball_pool"><i class="uk-icon-gamepad"></i></a></li>
            <!--End 作为外链或页面专题链接-->
        </ul>
        <ul class="o-login"><!--登入登出按钮-->
        {% if __user__ %}
            <li data-uk-tooltip title="用户中心"><a href="#o-user-center" data-uk-offcanvas><i class="uk-icon-user"></i></a></li>
        {% else %}
            <li data-uk-tooltip="{pos:'right'}" title="登入"><a href="/signin"><i class="uk-icon-sign-in"></i></a></li>
            <li data-uk-tooltip="{pos:'right'}" title="注册"><a href="/register"><i class="uk-icon-edit"></i></a></li>
        </ul>
        {% endif %}
    </div>

            <hr class="uk-article-divider">

                            <h2 id="groups"><a href="#groups" class="uk-link-reset">组</a></h2>
                            <h3 class="tm-article-subtitle">Example</h3>
            <div class="uk-grid uk-grid-width-medium-1-4" data-uk-grid-margin>
                <div>

                                    <a href="images/placeholder_800x600_1.jpg" data-uk-lightbox="{group:'group1'}" title="Title">
                                        <img src="images/placeholder_800x600_1.jpg" width="800" height="600" alt="">
                                    </a>

                                </div>
            {% for image in images %}
            <div>
        <a href="{{image.src}}" data-lightbox-type="image" data-uk-lightbox="{group:'group1'}" title="{{image.name}}">
        <img src="{{image.src}}" width="400" height="320" alt=""></a>
            </div>
        {% endfor %}
    </div>
    <footer class="uk-text-muted uk-text-small">
                <!--子导航菜单-->
                <ul class="o-meta uk-subnav uk-subnav-line ">
                    <li><a href="#">帮助中心</a></li>
                    <li><a href="#">投稿指南</a></li>
                    <li><a href="#">关于我们</a></li>
                    <li><a href="#">网站统计</a></li>
                </ul>
                <p class="o-meta">&copy;2015 <a href="/">Daisuke</a> All rights reserved.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;联系作者
                <a target="_blank" href="http://weibo.com/2338053955"><i class="uk-icon-button uk-icon-weibo"></i></a></p>
            </footer>
    </body>
</html>