{% extends '__base__.html' %}
<!--
{% macro userpagination(url, b_url,blog, page) %}
    <ul class="uk-pagination">
        {% if page.has_previous %}
            <li><a href="{{ url }}{{id}}{{b_url}}{{ page.page_index - 1 }}"><i class="uk-icon-angle-double-left"></i></a></li>
        {% else %}
            <li class="uk-disabled"><span><i class="uk-icon-angle-double-left"></i></span></li>
        {% endif %}
            <li class="uk-active"><span>{{ page.page_index }}</span></li>
        {% if page.has_next %}
            <li><a href="{{ url }}{{id}}{{b_url}}{{ page.page_index + 1 }}"><i class="uk-icon-angle-double-right"></i></a></li>
        {% else %}
            <li class="uk-disabled"><span><i class="uk-icon-angle-double-right"></i></span></li>
        {% endif %}
    </ul>
{% endmacro %}
-->
{% block title %}{{id}}的日志{% endblock %}

{% block beforehead %}

{% endblock %}

{% block content %}
    <div class="o-right uk-width-medium-7-10 ">
        <div class="o-container uk-width-medium-4-5">
            <!--768以下出现导航栏-->
            <nav class="o-medium-bar uk-navbar uk-visible-small">
                <a class="o-toggle uk-navbar-brand" href="#o-nav" data-uk-offcanvas><i class="uk-icon-bars"></i></a>
                <div class="uk-navbar-flip">
                    <div class="uk-navbar-content">
                        <form class="o-hidden-small uk-search" data-uk-search>
                            <input class="uk-search-field" type="search" placeholder="点此搜索">
                        </form>
                    </div>
                </div>
                
                <div class="uk-navbar-content uk-navbar-center uk-navbar-brand">Daisuke</div>
            </nav>
            <hr class="uk-visible-small" />


    <div class="o-main">
    {% for blog in blogs %}
        <article class="uk-article">
            <h1 class="uk-article-title"><a href="/blog/{{ blog.id }}">{{ blog.name }}</a></h1>
            <p>{{ blog.summary }}</p>
            <p class="o-meta uk-article-meta">
                {{blog.user_name}}<i class="o-icon uk-icon-calendar-o"></i>
                发表于{{ blog.created_at|datetime }}
                <i class="o-icon uk-icon-book"></i>
            </p>
        <hr class="uk-article-divider">
        </article>
    {% endfor %}

    {{ userpagination(url,'?page=', id, page) }}
</div> 


{% endblock %}
